
# ðŸ§© SESSION 7: GROUP BY & HAVING (Core Analytics SQL)


ðŸŽ¯ **Goal:**

* Understand **why GROUP BY exists**
* Learn how to **summarize data by categories**
* Use **HAVING** correctly (big interview trap)
* Answer **real business questions**

> ðŸ“Œ 80% of analytics SQL queries =
> `GROUP BY + aggregate functions`

---

 **ðŸ”¹ Why GROUP BY Exists (From Scratch)**

So far, aggregates gave **one number for the whole table**.

But businesses ask questions like:

* Average salary **per department**
* Total employees **per city**
* Highest salary **per team**

ðŸ‘‰ This means:
**â€œGroup rows first, then aggregate.â€**

Thatâ€™s exactly what `GROUP BY` does.

---

 **ðŸ”¹ Mental Model (VERY IMPORTANT)**

Think in **two steps**:

1ï¸âƒ£ Group similar rows
2ï¸âƒ£ Apply aggregate to each group

ðŸ“Œ GROUP BY changes **how aggregation works**.

---

 **ðŸ”¹ Data We Are Using (Reminder)**

`employees` table:

| emp_id | name  | department | salary | city      |
| ------ | ----- | ---------- | ------ | --------- |
| 1      | Amit  | IT         | 60000  | Delhi     |
| 2      | Sara  | HR         | 50000  | Mumbai    |
| 3      | John  | Finance    | 70000  | Bangalore |
| 4      | Neha  | IT         | 65000  | Delhi     |
| 5      | Rahul | HR         | 48000  | Pune      |

---

 **1ï¸âƒ£ Basic GROUP BY Syntax**

 **ðŸ”¹ Syntax Pattern (Memorize)**

```sql
SELECT group_column, AGG_FUNCTION(column)
FROM table
GROUP BY group_column;
```

ðŸ“Œ Rule:

> Every non-aggregated column in SELECT **must appear in GROUP BY**.

---

 **Example 1: Average Salary per Department**

```sql
SELECT department, AVG(salary)
FROM employees
GROUP BY department;
```

 **What SQL Does:**

1. FROM â†’ employees
2. GROUP BY â†’ department
3. AVG â†’ salary per department

ðŸ“Œ Output:

| department | avg   |
| ---------- | ----- |
| IT         | 62500 |
| HR         | 49000 |
| Finance    | 70000 |

---

 **ðŸ§ª Practice 1**

1. Total salary per department
2. Employee count per department

---

 **2ï¸âƒ£ GROUP BY with COUNT, SUM, MIN, MAX**

 **Count Employees per City**

```sql
SELECT city, COUNT(*) AS total_employees
FROM employees
GROUP BY city;
```

ðŸ“Œ `AS` creates **alias** (renamed column).

---

 **Max Salary per Department**

```sql
SELECT department, MAX(salary)
FROM employees
GROUP BY department;
```

---

 **ðŸ§ª Practice 2**

1. Number of employees per city
2. Minimum salary per department
3. Maximum salary per city

---

**3ï¸âƒ£ GROUP BY Multiple Columns (IMPORTANT)**

You can group by **more than one column**.

 **Example: Department + City**

```sql
SELECT department, city, AVG(salary)
FROM employees
GROUP BY department, city;
```

ðŸ“Œ Each **unique combination** becomes a group.

---

**ðŸ§ª Practice 3**

1. Count employees per department per city
2. Total salary per department per city

---

 **ðŸ”¥ MOST IMPORTANT: HAVING vs WHERE**

This is a **classic interview question**.

---

 **ðŸ”¹ WHERE vs HAVING (Concept)**

| Clause | Filters                    |
| ------ | -------------------------- |
| WHERE  | Rows (before grouping)     |
| HAVING | Groups (after aggregation) |

ðŸ“Œ WHERE â†’ before GROUP BY
ðŸ“Œ HAVING â†’ after GROUP BY

---

**âŒ WRONG (Very Common Mistake)**

```sql
SELECT department, AVG(salary)
FROM employees
WHERE AVG(salary) > 60000   -- âŒ INVALID
GROUP BY department;
```

Why?

* WHERE runs **before** AVG exists.

---

 **âœ… Correct: Use HAVING**

```sql
SELECT department, AVG(salary)
FROM employees
GROUP BY department
HAVING AVG(salary) > 60000;
```

ðŸ“Œ Filters **groups**, not rows.

---

 **ðŸ§ª Practice 4**

1. Departments with average salary > 55,000
2. Cities with more than 1 employee

---

**4ï¸âƒ£ WHERE + GROUP BY + HAVING (FULL POWER)**

You can use **both**.

**Example:**

```sql
SELECT department, COUNT(*)
FROM employees
WHERE city = 'Delhi'
GROUP BY department
HAVING COUNT(*) > 1;
```

 **Execution Order:**

1. FROM
2. WHERE (filter rows)
3. GROUP BY
4. HAVING (filter groups)
5. SELECT

ðŸ“Œ Interview gold â­

---

 **ðŸ§ª Practice 5**

1. Departments in Delhi with avg salary > 60,000
2. Cities with total salary > 100,000

---

**âš ï¸ Common GROUP BY Mistakes (Interview Traps)**

 **âŒ Selecting non-grouped column**
```sql
SELECT name, department, AVG(salary)
FROM employees
GROUP BY department;
```

âŒ INVALID â€” `name` is not grouped or aggregated.

---

 **âœ… Correct Options**

* Remove `name`
* Or aggregate it (advanced)
* Or group by it (changes meaning)


When you see a business question, ask:

1. What am I grouping by?
2. What metric do I need?
3. Do I filter rows first (WHERE)?
4. Do I filter groups later (HAVING)?

---

 **ðŸ§ª FINAL PRACTICE (INTERVIEW LEVEL)**

Write queries for:

1. Average salary per department
2. Departments with average salary > 60,000
3. Number of employees per city
4. Cities with more than one employee
5. Total salary per department in Delhi