
# üß© SESSION 5: Aggregate Functions

**(COUNT, SUM, AVG, MIN, MAX)**

üéØ **Goal:**

* Understand what aggregate functions are
* Use them correctly on real data
* Avoid common interview mistakes
* Think in **metrics**, not rows

> ‚ö†Ô∏è Important:
> In this session we focus on **aggregates on the full table**.
> **Grouping (GROUP BY)** comes in the *next session*.

---

 **üîπ What Are Aggregate Functions (From Scratch)**

 **üî∏ Simple Definition**

**Aggregate functions**:

* Take **many rows**
* Return **one single value**

üìå They summarize data.

---

 **üî∏ Real Business Examples**

* Total employees ‚Üí COUNT
* Total salary cost ‚Üí SUM
* Average salary ‚Üí AVG
* Highest salary ‚Üí MAX
* Lowest salary ‚Üí MIN

üìå These are **KPIs**, not raw data.

---

 **üîπ Data We Are Using (Reminder)**

`employees` table:

| emp_id | name  | department | salary | city      |
| ------ | ----- | ---------- | ------ | --------- |
| 1      | Amit  | IT         | 60000  | Delhi     |
| 2      | Sara  | HR         | 50000  | Mumbai    |
| 3      | John  | Finance    | 70000  | Bangalore |
| 4      | Neha  | IT         | 65000  | Delhi     |
| 5      | Rahul | HR         | 48000  | Pune      |

---

 **1Ô∏è‚É£ COUNT() ‚Äì Counting Rows**

 **üî∏ What COUNT Does**

Counts **number of rows**, not values.

---

 **Count All Rows**

```sql
SELECT COUNT(*) FROM employees;
```

üìå Result: total number of employees.

---

**Count Non-NULL Values in a Column**

```sql
SELECT COUNT(city) FROM employees;
```

üìå If `city` had NULLs, those rows would be excluded.

---

 **‚ö†Ô∏è Interview Trap**

```sql
COUNT(*)  ‚â†  COUNT(column)
```

* `COUNT(*)` ‚Üí counts rows
* `COUNT(column)` ‚Üí skips NULLs

---

 **üß™ Practice 1**

1. Count total employees
2. Count how many employees have salary values

---

 **2Ô∏è‚É£ SUM() ‚Äì Total Value**

**üî∏ What SUM Does**

Adds numeric values across rows.

---

 **Total Salary Cost**

```sql
SELECT SUM(salary) FROM employees;
```

üìå Business meaning: **monthly payroll cost**

---

 **SUM with WHERE**

```sql
SELECT SUM(salary)
FROM employees
WHERE department = 'IT';
```

üìå Total salary cost of IT department.

---

 **üß™ Practice 2**

1. Total salary of HR employees
2. Total salary of employees in Delhi

---

**3Ô∏è‚É£ AVG() ‚Äì Average Value**

 **üî∏ What AVG Does**

Calculates **mean value**.

---

 **Average Salary**

```sql
SELECT AVG(salary) FROM employees;
```

üìå Used in almost every analytics interview.

---

**Average with Condition**

```sql
SELECT AVG(salary)
FROM employees
WHERE department = 'HR';
```

---

 **‚ö†Ô∏è Important Note**

* AVG ignores NULL values
* Result may be decimal

---

 **üß™ Practice 3**

1. Average salary of IT employees
2. Average salary of employees earning more than 50,000

---

 **4Ô∏è‚É£ MIN() ‚Äì Lowest Value**

 **üî∏ What MIN Does**

Finds **smallest value** in a column.

---

 **Lowest Salary**

```sql
SELECT MIN(salary) FROM employees;
```

---

 **Lowest Salary in HR**

```sql
SELECT MIN(salary)
FROM employees
WHERE department = 'HR';
```

---

 **üß™ Practice 4**

1. Lowest salary in company
2. Lowest salary in IT department

---

 **5Ô∏è‚É£ MAX() ‚Äì Highest Value**

 **üî∏ What MAX Does**

Finds **largest value** in a column.

---

 **Highest Salary**

```sql
SELECT MAX(salary) FROM employees;
```

---

**Highest Salary in Delhi**

```sql
SELECT MAX(salary)
FROM employees
WHERE city = 'Delhi';
```

---

**üß™ Practice 5**

1. Highest salary overall
2. Highest salary among HR employees

---

 **üî• Aggregate Functions + WHERE (Very Important Pattern)**

 **Example**

```sql
SELECT AVG(salary)
FROM employees
WHERE city = 'Delhi';
```

Execution order:

1. FROM ‚Üí employees
2. WHERE ‚Üí only Delhi employees
3. AVG ‚Üí calculate average

üìå **WHERE filters rows BEFORE aggregation**

---

 **‚ö†Ô∏è Common Beginner & Interview Mistakes**

 **‚ùå Mistake 1: Using aggregate in WHERE**

```sql
WHERE AVG(salary) > 60000   -- ‚ùå INVALID
```

Why?

* WHERE runs **before** aggregation

üìå Solution comes with **GROUP BY + HAVING** (next session).

---

 **‚ùå Mistake 2: Expecting multiple rows**

```sql
SELECT AVG(salary) FROM employees;
```

‚úî Always returns **one row**.


 **üß™ FINAL PRACTICE (Interview Style)**

Write queries for:

1. Total number of employees
2. Total salary paid by company
3. Average salary of Finance department
4. Highest salary in IT department
5. Lowest salary among employees outside HR