
# SESSION 4: WHERE Clause Deep Dive & Operators

ðŸŽ¯ **Goal:**

* Master **row-level filtering**
* Use **operators confidently**
* Think logically like a data analyst
* Avoid common interview mistakes

> ðŸ“Œ 70% of SQL interview questions depend on WHERE clause logic.

---

 **ðŸ”¹ Quick Recall: What WHERE Does**

The `WHERE` clause:

* Filters **rows**
* Applies **conditions**
* Runs **before SELECT** (execution order!)

```sql
SELECT *
FROM employees
WHERE condition;
```

ðŸ“Œ If you donâ€™t filter correctly â†’ **wrong analysis**.

---

 **DATA WE ARE USING**

`employees` table:

| emp_id | name  | department | salary | city      |
| ------ | ----- | ---------- | ------ | --------- |
| 1      | Amit  | IT         | 60000  | Delhi     |
| 2      | Sara  | HR         | 50000  | Mumbai    |
| 3      | John  | Finance    | 70000  | Bangalore |
| 4      | Neha  | IT         | 65000  | Delhi     |
| 5      | Rahul | HR         | 48000  | Pune      |

---

 **

These compare **values**.

| Operator | Meaning               |
| -------- | --------------------- |
| =        | Equal to              |
| !=       | Not equal to          |
| >        | Greater than          |
| <        | Less than             |
| >=       | Greater than or equal |
| <=       | Less than or equal    |

---

**Examples**

**Salary greater than 60,000**

```sql
SELECT * FROM employees
WHERE salary > 60000;
```

 **Salary not equal to 50,000**

```sql
SELECT * FROM employees
WHERE salary != 50000;
```

---

 ðŸ§ª Practice 1

Write queries for:

1. Employees earning less than 55,000
2. Employees earning 65,000 or more

---

 **2ï¸âƒ£ Logical Operators: AND, OR, NOT**

These combine **multiple conditions**.

---

 ðŸ”¹ **AND (All conditions must be true)**

```sql
SELECT * FROM employees
WHERE department = 'IT' AND city = 'Delhi';
```

âœ” IT employees
âœ” AND in Delhi

---

 **ðŸ”¹ OR (Any condition can be true)**

```sql
SELECT * FROM employees
WHERE city = 'Delhi' OR city = 'Mumbai';
```

âœ” Delhi employees
âœ” OR Mumbai employees

---

 **ðŸ”¹ NOT (Exclude condition)**

```sql
SELECT * FROM employees
WHERE NOT department = 'HR';
```

ðŸ“Œ Same as: department != 'HR'

---

 ðŸ§ª Practice 2

1. HR employees from Pune
2. Employees from Delhi or Bangalore
3. Employees not from IT department

---

 **3ï¸âƒ£ IN Operator (Cleaner OR Conditions)**

Instead of this âŒ:

```sql
WHERE city = 'Delhi' OR city = 'Mumbai' OR city = 'Pune'
```

Use this âœ…:

```sql
SELECT * FROM employees
WHERE city IN ('Delhi', 'Mumbai', 'Pune');
```

ðŸ“Œ Cleaner, faster, interview-preferred.

---

 ðŸ§ª Practice 3

1. Employees from IT or HR departments
2. Employees from Delhi or Pune

---

 **4ï¸âƒ£ BETWEEN Operator (Ranges)**

Used for **numeric or date ranges**.

```sql
SELECT * FROM employees
WHERE salary BETWEEN 50000 AND 65000;
```

ðŸ“Œ BETWEEN is **inclusive** (includes both ends).

---

 ðŸ§ª Practice 4

1. Employees earning between 48,000 and 60,000
2. Salaries between 60k and 70k

---

 **5ï¸âƒ£ LIKE Operator (Pattern Matching)**

Used for **text search**.

| Symbol | Meaning                  |
| ------ | ------------------------ |
| %      | Any number of characters |
| _      | Exactly one character    |

---

 **ðŸ”¸ Examples**
 
 
  **Names starting with 'A'**

```sql
SELECT * FROM employees
WHERE name LIKE 'A%';
```

 **Names ending with 'a'**

```sql
SELECT * FROM employees
WHERE name LIKE '%a';
```

---

 ðŸ§ª Practice 5

1. Names starting with â€˜Nâ€™
2. Names containing â€˜hâ€™

---

 **6ï¸âƒ£ NULL Values (VERY COMMON INTERVIEW TRAP)**

 âŒ This DOES NOT work:

```sql
WHERE city = NULL;
```

---

 âœ… Correct Way

```sql
WHERE city IS NULL;
```

```sql
WHERE city IS NOT NULL;
```

ðŸ“Œ NULL means **unknown**, not empty or zero.

---

 ðŸ§ª Practice 6 (Conceptual)

Answer in words:

* Why `= NULL` doesnâ€™t work?
* What does NULL actually mean?

---

 **7ï¸âƒ£ Operator Precedence (INTERVIEW GOLD)**

SQL evaluates:

1. NOT
2. AND
3. OR

---

 âš ï¸ Dangerous Query

```sql
WHERE department = 'IT' OR department = 'HR' AND salary > 60000;
```

SQL reads as:

```text
IT employees (any salary)
OR
HR employees with salary > 60000
```

---

 âœ… Correct with Parentheses

```sql
WHERE (department = 'IT' OR department = 'HR')
AND salary > 60000;
```

ðŸ“Œ **Always use parentheses for clarity.**

---

 **ðŸ§  Analyst Thinking Pattern (CRITICAL)**

Before writing WHERE:

1. What rows do I want?
2. What condition filters them?
3. Should conditions be AND or OR?
4. Do I need parentheses?