# SESSION 3: SQL Syntax Basics & Query Execution Order

**Goal:**

- Understand how SQL is written
- Understand how SQL is executed (INTERVIEW GOLD)
- Be confident reading and writing basic SQL statements

How SQL Is Different from Programming Languages

ðŸ”¹ SQL Is Declarative

In Python, you say HOW to do something.
In SQL, you say WHAT you want.

Example:

Give me all employees with salary > 50,000

- You donâ€™t tell SQL:
- how to loop
- how to scan rows
- The database figures that out.

**SQL Statement Structure**

*A basic SQL query looks like this:*

In [ ]:
SELECT coloumn_names
FROM table_names
WHEREc condituons;

Read It in English

- Select these columns
- From this table
- Where this condition is true

SQL Keywords & Conventions

ðŸ”¹ Keywords

- SELECT
- FROM
- WHERE
- ORDER BY
- LIMIT

ðŸ“Œ SQL keywords are NOT case-sensitive, but:

In [ ]:
SELECT * FROM employees;

is the industry standard.

Semicolon ;

- Ends a SQL statement
- Always use it (good habit)

Comments

-- This is a comment


ðŸ“Œ Comment your queries during learning & interviews.

Your First Real Queries (Type These)

Assume you already have an employees table.

ðŸ”¹ Select Everything

In [ ]:
SELECT * FROM employees;

 ðŸ“Œ * = all columns

ðŸ“Œ Use only while exploring (not in production)

Select Specific Columns

In [ ]:
SELECT name, salary FROM employees;

Interview tip:

Selecting only needed columns improves performance.

**WHERE Clause â€“ Filtering Data (CORE SKILL)**

In [ ]:
# Basic Filter

SELECT * FROM employees
WHERE salary > 50000;

In [ ]:
# Filter with Text

SELECT * FROM employees
WHERE department = 'IT';

Text values must be in single quotes

In [ ]:
# Multiple Conditions

SELECT * FROM employees
WHERE department = 'IT'
AND salary > 50000;

In [ ]:
SELECT * FROM employees
WHERE city = 'Delhi'
OR city = 'Mumbai'

ORDER BY â€“ Sorting Results

In [ ]:
# Default (Ascending)

SELECT * FROM employees
ORDER BY salary;

In [ ]:
# Descending

SELECT * FROM employees
ORDER BY salary DESC;

ORDER BY always comes after WHERE

LIMIT â€“ Control Output Size

In [ ]:
SELECT * FROM employees
ORDER BY salary DESC
LIMIT 3;

Used for:

- Top N records
- Sampling data
- Performance testing

SQL Query Execution Order (INTERVIEW GOLD)

This is CRITICAL.

Even though you write:

In [ ]:
SELECT
FROM
WHERE
ORDER BY
LIMIT

SQL Executes in This Order:

1ï¸âƒ£ FROM

2ï¸âƒ£ WHERE

3ï¸âƒ£ SELECT

4ï¸âƒ£ ORDER BY

5ï¸âƒ£ LIMIT

ðŸ“Œ SQL reads FROM first, not SELECT.

In [ ]:
Example Breakdown
SELECT name, salary
FROM employees
WHERE salary > 50000
ORDER BY salary DESC
LIMIT 2;

Execution:

Read employees table

Filter salary > 50,000

Select name & salary columns

Sort by salary (DESC)

Return top 2 rows

ðŸ“Œ This explains why WHERE cannot use aliases (later topic).

Common Beginner Mistakes (Avoid These)

 - Forgetting quotes for text
 - Using = instead of LIKE (later topic)
 - Writing WHERE after ORDER BY
 - Not understanding execution order