
# ðŸ§© SESSION 7: ORDER BY, LIMIT & Aliases (Polishing Queries)


ðŸŽ¯ **Goal:**

* Control **how results are presented**
* Rank and sort data correctly
* Use **aliases** for readability
* Write SQL that looks **production-quality**

> ðŸ“Œ Interviewers often judge clarity as much as correctness.

---

**ðŸ”¹ Data Reminder**

`employees` table:

| emp_id | name  | department | salary | city      |
| ------ | ----- | ---------- | ------ | --------- |
| 1      | Amit  | IT         | 60000  | Delhi     |
| 2      | Sara  | HR         | 50000  | Mumbai    |
| 3      | John  | Finance    | 70000  | Bangalore |
| 4      | Neha  | IT         | 65000  | Delhi     |
| 5      | Rahul | HR         | 48000  | Pune      |

---

 **1ï¸âƒ£ ORDER BY (Sorting Results Correctly)**

**ðŸ”¹ Why ORDER BY Matters**

Raw results are meaningless unless:

* Ranked
* Sorted
* Ordered logically

ðŸ“Œ Almost every report uses ORDER BY.

---

**ðŸ”¸ Basic ORDER BY**

```sql
SELECT * FROM employees
ORDER BY salary;
```

* Default = **ASC** (ascending)

---

**ðŸ”¸ DESC (Descending Order)**

```sql
SELECT * FROM employees
ORDER BY salary DESC;
```

ðŸ“Œ Used for:

* Top salaries
* Top customers
* Highest revenue

---

**ðŸ”¸ ORDER BY Multiple Columns**

```sql
SELECT * FROM employees
ORDER BY department ASC, salary DESC;
```

Meaning:

1. Sort by department
2. Within each department, sort by salary (high to low)

---

**ðŸ§ª Practice 1**

1. Sort employees by city (Aâ€“Z)
2. Sort employees by department, then salary (highest first)

---

 **2ï¸âƒ£ LIMIT (Top / Bottom N Records)**

 **ðŸ”¹ Why LIMIT Matters**

Businesses often want:

* Top 5 customers
* Top 10 products
* Bottom 3 performing regions

---

 **ðŸ”¸ Basic LIMIT**

```sql
SELECT * FROM employees
LIMIT 3;
```

ðŸ“Œ Returns **any 3 rows** (not meaningful without ORDER BY).

---

 **ðŸ”¸ LIMIT with ORDER BY (Correct Usage)**

```sql
SELECT * FROM employees
ORDER BY salary DESC
LIMIT 2;
```

ðŸ“Œ **Always pair LIMIT with ORDER BY**.

---

**ðŸ§ª Practice 2**

1. Top 3 highest-paid employees
2. Lowest-paid employee

---

 **3ï¸âƒ£ Aliases with AS (Very Important)**

**ðŸ”¹ What Is an Alias?**

An alias:

* Renames a column or table
* Improves readability
* Makes results interview-presentable

---

 **ðŸ”¸ Alias for Columns**

```sql
SELECT AVG(salary) AS avg_salary
FROM employees;
```

Output column name becomes: `avg_salary`.

---

 **ðŸ”¸ Alias with GROUP BY**

```sql
SELECT department, COUNT(*) AS total_employees
FROM employees
GROUP BY department;
```

ðŸ“Œ Much clearer than `count`.

---

 **ðŸ”¸ Alias for Tables (Used in Joins Later)**

```sql
SELECT e.name, e.salary
FROM employees AS e;
```

ðŸ“Œ Makes queries shorter and cleaner.

---

 **ðŸ§ª Practice 3**

1. Average salary per department (use alias)
2. Total salary per city (use alias)

---

 **4ï¸âƒ£ ORDER BY Using Aliases (INTERVIEW FAVORITE)**

 **Example**

```sql
SELECT department, AVG(salary) AS avg_salary
FROM employees
GROUP BY department
ORDER BY avg_salary DESC;
```

ðŸ“Œ This works because:

* ORDER BY runs **after SELECT**
* Alias already exists

---

 **ðŸ§ª Practice 4**

1. Departments ordered by average salary (highest first)
2. Cities ordered by employee count

---

 **5ï¸âƒ£ ORDER BY Column Position (Use Carefully)**

```sql
SELECT department, AVG(salary)
FROM employees
GROUP BY department
ORDER BY 2 DESC;
```

* `2` = second column in SELECT

âš ï¸ Works, but **not recommended** in interviews.
Use aliases instead.

---

**6ï¸âƒ£ Real-World Analyst Queries (Putting It All Together)**

 **Example 1: Top-paying Departments**

```sql
SELECT department, AVG(salary) AS avg_salary
FROM employees
GROUP BY department
HAVING AVG(salary) > 50000
ORDER BY avg_salary DESC
LIMIT 2;
```

---

 **Example 2: City-wise Employee Ranking**

```sql
SELECT city, COUNT(*) AS employee_count
FROM employees
GROUP BY city
ORDER BY employee_count DESC;
```




**ðŸ§ª FINAL PRACTICE (INTERVIEW LEVEL)**

Write queries for:

1. Top 2 departments by average salary
2. Bottom 1 city by total salary
3. Cities ordered by number of employees
4. Departments ordered by highest salary
5. Top-paid employee overall