
# üß© SESSION 8: JOINS (Combining Multiple Tables)


üéØ **Goal:**

* Understand why multiple tables exist
* Learn how tables relate
* Master INNER JOIN & LEFT JOIN
* Avoid classic interview mistakes
* Combine data like a real analyst

---

**üîπ 1Ô∏è‚É£ Why Multiple Tables Exist (From Scratch)**

Companies don‚Äôt store everything in one giant table.

Instead, they separate data:

 **Example Structure**

**customers table**

| customer_id | name | city |
| ----------- | ---- | ---- |

**orders table**
| order_id | customer_id | amount | order_date |

üìå Why separate?

* Avoid duplication
* Better organization
* Faster performance
* Data integrity

This design is called a **Relational Database**.

---

 **üîπ 2Ô∏è‚É£ The Key Concept: Foreign Key**

In `orders` table:

```
customer_id
```

This links to:

```
customers.customer_id
```

üìå That column creates a **relationship**.

This relationship allows us to JOIN tables.

---

 **üîπ 3Ô∏è‚É£ Create Practice Tables (IMPORTANT ‚Äì Do This)**

Open your `session-09-joins.sql` file.

---

 **Step 1: Create Customers Table**

```sql
CREATE TABLE customers (
    customer_id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    city VARCHAR(50)
);
```

---

 **Step 2: Insert Customers**

```sql
INSERT INTO customers (name, city)
VALUES
('Amit', 'Delhi'),
('Sara', 'Mumbai'),
('John', 'Bangalore'),
('Neha', 'Delhi');
```

---

 **Step 3: Create Orders Table**

```sql
CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,
    customer_id INT,
    amount INT,
    order_date DATE
);
```

---

 **Step 4: Insert Orders**

```sql
INSERT INTO orders (customer_id, amount, order_date)
VALUES
(1, 5000, '2024-01-10'),
(1, 3000, '2024-02-15'),
(2, 7000, '2024-01-20'),
(3, 2000, '2024-03-01');
```

Notice:

* Customer 4 (Neha) has no orders
* This will matter later üëÄ

---

 **üîπ 4Ô∏è‚É£ INNER JOIN (Most Common)**

 **üîπ What INNER JOIN Does**

Returns rows that match in both tables.

---

**Syntax Pattern**

```sql
SELECT columns
FROM table1
INNER JOIN table2
ON table1.column = table2.column;
```

---

 **Example: Show Customer Name with Order Amount**

```sql
SELECT c.name, o.amount
FROM customers c
INNER JOIN orders o
ON c.customer_id = o.customer_id;
```

---

 **What Happens?**

* Only customers with orders appear
* Neha disappears (no order)

üìå INNER JOIN = only matching records

---

 **üß™ Practice 1**

1. Show customer name and order date
2. Show customer city and order amount

---

**üîπ 5Ô∏è‚É£ LEFT JOIN (Very Important)**

 **üîπ What LEFT JOIN Does**

Returns:

* All rows from LEFT table
* Matching rows from RIGHT table
* NULL if no match

---

 **Example**

```sql
SELECT c.name, o.amount
FROM customers c
LEFT JOIN orders o
ON c.customer_id = o.customer_id;
```

---

 **What Happens?**

* Neha appears
* Her amount = NULL

üìå LEFT JOIN keeps all customers

---

 **üß™ Practice 2**

1. Show all customers and their orders (if any)
2. Identify customers with no orders

Hint:

```sql
WHERE o.order_id IS NULL;
```

---

**üîπ 6Ô∏è‚É£ RIGHT JOIN (Less Common but Know It)**

Opposite of LEFT JOIN.

```sql
SELECT c.name, o.amount
FROM customers c
RIGHT JOIN orders o
ON c.customer_id = o.customer_id;
```

Keeps all orders even if customer missing.

Rare in analytics interviews but good to know.

---

 **üîπ 7Ô∏è‚É£ JOIN + GROUP BY (Real Analytics)**

Now it gets powerful.

---

 **Example: Total Sales per Customer**

```sql
SELECT c.name, SUM(o.amount) AS total_spent
FROM customers c
INNER JOIN orders o
ON c.customer_id = o.customer_id
GROUP BY c.name
ORDER BY total_spent DESC;
```

üìå This is a **real interview-level query**.

---

 **üß™ Practice 3**

1. Total sales per city
2. Number of orders per customer
3. Customers with total spending > 5000

---

 **üî• Execution Order with JOIN**

SQL runs:

1. FROM
2. JOIN
3. ON
4. WHERE
5. GROUP BY
6. HAVING
7. SELECT
8. ORDER BY

üìå Interview gold ‚≠ê

---

 **üîπ 8Ô∏è‚É£ Common JOIN Mistakes (Interview Traps)**

 **‚ùå Forgetting ON condition**

```sql
FROM customers, orders;
```

This creates **Cartesian product** (bad).

---

 **‚ùå Joining on wrong column**

Must join:

```
customers.customer_id = orders.customer_id
```

---

**‚ùå Not using table aliases**

Bad:

```sql
customers.customer_id
```

Better:

```sql
c.customer_id
```

Cleaner and professional.

---

 **üß† Analyst Thinking Pattern**

When joining tables, ask:

1. What table has main entity?
2. What table has related data?
3. What column connects them?
4. Should I use INNER or LEFT JOIN?